<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">{{this.theme.site_name}}</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {% if this.page.id == 'home' %}active{% endif %}">
                <a href="{{ 'home'|page }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item {% if this.page.id == 'about' %}active{% endif %}">
                <a href="{{ 'about'|page }}" class="nav-link">About</a>
            </li>
            <li class="nav-item {% if this.page.id == 'blog' %}active{% endif %}">
                <a href="{{ 'blog'|page }}" class="nav-link">Blog</a>
            </li>
            <li class="nav-item {% if this.page.id == 'contact' %}active{% endif %}">
                <a href="{{ 'contact'|page }}" class="nav-link">Contact</a>
            </li>
        </ul>
    </div>
</nav>